@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-Light.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-Light.otf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-Medium.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-Medium.otf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-SemiBold.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-SemiBold.otf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./assets/fonts/AvenirNextLTPro-ExtraBold.otf") format("woff"),
    url("./assets/fonts/AvenirNextLTPro-ExtraBold.otf") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.prevent-select {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}


